.page-header {
background-color: #7b68ee;
margin-top: 0;
padding: 20px 20px 20px 40px;
}
.footer {
font-size: 12pt;
background-color: #4169e1;
text-align: center;
padding: 20px 20px 20px 40px;
margin-top: 0;
}
.page-header h1, .page-header h1 a:visited, .page-header h1 a:active {
color: #6495ed;
font-size: 36pt;
text-decoration: none;
}
.content {
margin-left: 40px;
background-color: #6495ed;
}
h1, h2, h3, h4 {
font-family: 'Roboto', sans-serif;
color: #ffffff;
}
.date {
color: #ffffff;
}
.save {
float: right;
}
.post-form textarea, .post-form input {
width: 100%;
}
.top-menu, .top-menu:hover, .top-menu:visited {
color: #ffffff;
float: right;
font-size: 26pt;
margin-right: 20px;
}
.post {
margin-bottom: 70px;
}
.post h1 a, .post h1 a:visited {
color: #ffffff;
text-decoration: none;
}
body {
background-color: #6495ed;
}
